header {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: linear-gradient(45deg, aqua, royalblue);

  h1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-200%);
    font: bold 50px/1 "orbitron";
    color: #fff;
    letter-spacing: 1px;

    &::before {
      content: "UI/UX DEVELOPMENT";
      position: absolute;
      top: 140px;
      left: 0;
      font: 14px/1 "orbitron";
      letter-spacing: 2px;
      color: #fff;
    }
    &::after {
      content: "";
      display: block;
      width: 130px;
      height: 2px;
      margin-top: 20px;
      background-color: #fff;
    }
  }

  ul {
    position: absolute;
    bottom: 100px;
    left: 60px;

    li {
      float: left;
      margin-right: 10px;
      transition: all ease-in-out .3s;

      a {
        font-size: 20px;
        color: #fff;

        span {
          display: inline-block;
          transform: scale(.7);
          transform-origin: left center;
        }
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

// 반응형
@media screen and (max-width: $web){
  header {
    position: relative;
    width: 100%;
    height: 80px;

    h1 {
      left: 50px;
      transform: translateY(-50%);
      font: bold 24px/1 'orbitron';

      &::before, &::after {
        display: none;
      }
    }

    ul {
      right: 50px;
      bottom: 27px;
      left: auto;

      li {

        &:hover {
          transform: translateY(0);
        }
      }
    }
  }
}

@media screen and (max-width: $tabletS){
  header {
    h1 {
      left: 20px;
    }
    ul {
      right: 20px;
      
      li {
        a span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile){
  header {
    h1 {
      font-size: 20px;
    }
    ul li {
      margin-left: 3px;
    }
  }
}